@import '../../../responsive.scss';

.wrapper {
    @include for-size(tablet-portrait) {
        max-width: 10rem !important;
        width: 10rem !important;
        height: 3.8rem !important;
        font-size: 1.1rem !important;
    }
}