#wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    &::-webkit-scrollbar {
        width: 0;
    }
    &::before {
        content: "";
        background-image: url('/public/assets/bg/aboutMe.png');
        background-size: cover;
        background-position:center left;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.15;
        z-index: 1;
        pointer-events: none;
    }
}