.wrapper {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px -100px 106px -33px rgba(0,0,0,0.8) inset;
    -webkit-box-shadow: 0px -100px 106px -33px rgba(0,0,0,0.8) inset;
    -moz-box-shadow: 0px -100px 106px -33px rgba(0,0,0,0.8) inset;
}