@import '../../global.scss';

#wrapper {
    left: 50%;
    transform: translateX(-50%);
    z-index: 51;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 100%;
        background-color: black;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.6;
    }
}