@import '../../responsive.scss';

#wrapper {
    left: 50%;
    transform: translateX(-50%);
    z-index: 51;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 100%;
        background-color: black;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.6;
    }
    div {
        @include for-size(phone-only) {
            max-width: 100%;
            padding: 1rem !important;
            h1{
                font-size: 1.7rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1.4rem;
            }
        }   
    }
}