@import '../../../global.scss';

#wrapper {
    @include for-size(tablet-portrait) {
        padding: 2rem;
        height: min-content;
        span {
            font-size: 1.7rem;
        }
    }
    @include for-size(phone-only) {
        background-color: rgb(236, 236, 236) !important;
    }
}