@import '../../../global.scss';

#purple_wrapper {
    min-width: 11.8rem;
    @include for-size(tablet-portrait) {
        height: 4.9rem;
        width: 10rem;
    }
}

#a_white {
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    @include for-size(tablet-portrait) {
        top: 48%;
        height: 1.8rem !important;
    }
}

#nton_white {
    top: 43.5%;
    transform: translateY(-50%);
    left: 3.8rem;
    @include for-size(tablet-portrait) {
        top: 41.8%;
        left: 3.2rem;
    }
}

#buttons_wrapper {
    @include for-size(phone-only) {
        flex-wrap: wrap;
        button {
            &:nth-child(2) {
                margin-top: 1rem;
            }
        }
    }
}

.icon {
    &:hover {
        scale: 1.1;
    }
    @include for-size(small-phone) {
        margin-right: 1rem !important;
    }
}

#contact_me_text {
    @include for-size(small-phone) {
        font-size: 1.1rem;
        
    }

}
