@import './global.scss';

#canvas {
    @include for-size(tablet-portrait) {
        min-height: 100rem;
        overflow: auto !important;
        padding-top: 0 !important;
        canvas {
            padding-top: 9rem;
        }
    }
    @include for-size(phone-only) {
        min-height: 80rem;
    }
}

.responsive_height {
    @include for-size(phone-only) {
        min-height: 120rem !important;
    }
}