@import './global.scss';

#canvas {
    @include for-size(tablet-portrait) {
        overflow: auto !important;
        padding-top: 0 !important;
        canvas {
            padding-top: 9rem;
        }
    }
}
