@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}

#root {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.cyber-text {
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}
.cyber-text:before {
    position: absolute;
    content: 'Anton.';
    color: #49a7ffcc;
    top: 5px;
    left: 10px;
}
.cyber-text:after {
    z-index: -1;
    position: absolute;
    content: 'Anton.';
    color: #ff3838cc;
    top: -5px;
    left: 8px;
}



canvas {
    width: 50%;
    background-color:#B0C6D0;
}