@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'loaders.css/src/animations/ball-grid-beat.scss';
@import './responsive.scss';
$primary-color: white;

@font-face {
    font-family: SF Pro Display;
    src: url('../fonts/regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Integral CF;
    src: url('../fonts/IntegralCF-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Integral CF;
    src: url('../fonts/IntegralCF-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: Integral CF;
    src: url('../fonts/IntegralCF-Bold.otf');
    font-weight: 700;
}

*{
    padding: 0;
    margin: 0;
    font-family: SF Pro Display;
}

#root {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden !important;
    @include for-size(phone-only) {
        height: unset;
    }
}

.cyber-text {
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}
.cyber-text:before {
    position: absolute;
    content: 'Anton.';
    color: #49a7ffcc;
    top: 5px;
    left: 10px;
}

.cyber-text:after {
    z-index: -1;
    position: absolute;
    content: 'Anton.';
    top: -5px;
    left: 8px;
}

canvas {
    width: 50%;
    background-color:#B0C6D0;
    @include for-size(tablet-portrait) {
        background-color:#B3C8D1;
    }
}

.slick-slide>div {padding: 0 5px;}

.responsive_title {
    font-size: 2.25rem;
    @include for-size(big-desktop) {
        font-size: 2.8rem;
    }
    @include for-size(tablet-portrait) {
        font-size: 2.2rem;
    }
}

.responsive_subTitle {
    font-size: 1.9rem;
    @include for-size(big-desktop) {
        font-size: 2.2rem;
    }
    @include for-size(tablet-portrait) {
        font-size: 1.8rem;
    }
}

.responsive_para {
    font-size: 1.6rem;
    @include for-size(big-desktop) {
        font-size: 1.8rem;
    }
    @include for-size(tablet-portrait) {
        font-size: 1.3rem;
        max-width: 33rem;
    }
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}