@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SF Pro Display;
    src: url('../public/fonts/bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: SF Pro Display;
    src: url('../public/fonts/regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: SF Pro Display;
    src: url('../public/fonts/medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: Integral CF;
    src: url('../public/fonts/IntegralCF-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Integral CF;
    src: url('../public/fonts/IntegralCF-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: Integral CF;
    src: url('../public/fonts/IntegralCF-Bold.otf');
    font-weight: 700;
}


*{
    padding: 0;
    margin: 0;
    font-family: SF Pro Display;
}

#root {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.cyber-text {
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}
.cyber-text:before {
    position: absolute;
    content: 'Anton.';
    color: #49a7ffcc;
    top: 5px;
    left: 10px;
}

.cyber-text:after {
    z-index: -1;
    position: absolute;
    content: 'Anton.';
    top: -5px;
    left: 8px;
}

canvas {
    width: 50%;
    background-color:#B0C6D0;
}

.slick-slide>div {padding: 0 5px;}